
/*h1 {
    font-family: 'Milonga', 'Arial', sans-serif;
    color: #FEE274;
    background-color: #B29478;
    font-size: x-large;
    height: 100px;
    padding: 40px 20px 20px 20px;
}*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
strong {
    font-family: 'Arial', sans-serif;
    font-size: 200%;
}

header {
     background-image: url("../images/paperbag3.jpg")
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

nav ul {
    font-family: 'Arial', sans-serif;
    list-style-type: none;
    display: flex;
    width: 100%;
    margin: 10px;
    background-color: #B29478;
    align-items: center;
    justify-content:space-around;
    
}

nav a:link {
    display: block;
    color: #81D5E6;
    text-decoration: none;
    padding: 15px 30px;
}

nav a:visited {
    color: #FFFFFF;
}

nav a:hover {
    color: #FEE274;
}

h2 {
    padding: 40px 20px 40px 20px;
    font-family: 'Milonga', sans-serif;
    font-size: 200%;
    color: #B29478;
}

h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-size: 125%;
    color: #000000;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 100%;
    padding-left: 150px;
    padding-right: 150px;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #B29478;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #B29478;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
}

.h1 {
    font-family: 'Milonga', 'Arial', sans-serif;
    color: #FEE274;
    background-image: url("../images/paperbag3.jpg")
    height: 80px;
    padding: 40px 20px 40px 20px;
    font-size: 400%;
    width: 100%;

}

.recipes {
    font-family: 'Milonga', 'Arial', sans-serif;
    font-size: x-large;
    color: #81D5E6;
}

.recipes:hover {
    color: #B29478;
}


.blue {
 color: #81D5E6;
}

.bddfood {
    width: 600px;
    height: 400px;
}

.section-1 {
    display: flex;
    float: center;
    flex-direction: column;
}


/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background: #81D5E6;
    margin-top: 20px;
    height: 250px;
}




footer a {
    text-decoration: none;
    color: white;
    
}

footer a:hover {
    width: 500px;
}



.contact2 {
    float: center;
    text-align: left;
    padding: 20px 50px 50px 0px;
    color: white;
}
    
.bot-nav {
    font-family: 'Milonga', sans-serif;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 20px 20px;

}

.ret-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-family: 'Milonga', sans-serif;
    color: #35454D;
    padding-top: 20px;

}

.silverware {
    width: 35px;
    margin: 5px 5px 0px 0px;
}


.up {
    font-family: 'Milonga', sans-serif;
   padding: 10px, 10px 10px 10px;
}

.copy {
    font-family: 'Milonga', sans-serif;
    color: white;
    background: #81D5E6;
    
}

.food {
    width: 150px;
    height: 120px;
}


